.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    background-color: var(--branco);
    padding: var(--padding-s) 0;
}

.menu-item {
    list-style: none;
}

.icons {
    display: flex;
    gap: var(--gap-lx);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-m);
    font-weight: 400;
}